.terminal_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.terminal_actions {
  cursor: pointer;
}

.terminal {
  width: 400px;
  max-width: 400px;
  height: 300px;
  max-height: 300px;

  background-color: rgb(21, 25, 66);
  color: rgb(255, 255, 255);

  overflow: auto;
  white-space: pre;
  border-radius: 4px;
  padding: 10px;

  display: flex;
  flex-direction: column-reverse;

  text-align: left;
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
}
